.corum{
    color: rgb(255, 0, 0);

}
.cordois{
    color: rgb(0, 0, 255);
}
.cortres{
    color: #00ff00;
}
.corquatro{
    color: rgb(255,255,255);
    background-color:rgb(0,0,0);
}
.corcinco{
    color: aliceblue;
    background-color: rgba(00,00,255,0.5);
}
.corseis{
    color: aliceblue;
    background-color: #FFA500;
    opacity: 0.5;

}
